body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
}

#gameWindow{
    height: 70%;
    width: 50%;
    border: black 2px solid;
}

#gameBoard{
    width: 100%;
    height: 100%;
    background-color:burlywood ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.boardElement{
    width: 13%;
    height: 13%;
    background-color:blue ;
    border-radius: 25%;
}